<section id="page-header" style="margin-top: 72px">
    <div class="container">
        <h1 class="title">Kiralik Araba</h1>
    </div>
</section>

<section id="page-nav" style="
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: -6px;
    margin-top: -64px;
  ">
    <div class="container">
        <app-navbar-child></app-navbar-child>
    </div>
</section>

<section id="car-card-list">
    <div class="container-fluid text-center" style="margin-left: 0px; margin-right: 0px; margin-top: 19px">
        <div class="row card-column-row" id="card-list">
            <div class="col-md-4 text-center card-column" style="box-shadow: inset 0px 0px 4px 2px">
                <div id="card-header-1" class="card-header">
                    <div id="car-detail-1">
                        <span id="car-category-1" class="car-category">Van Car</span>
                        <h2 id="car-name-1" class="car-name">Tourneo Custom<br /></h2>
                    </div>
                </div>
                <div class="text-center card-image" id="card-image-1" style="box-shadow: 0px 0px">
                    <div class="thumbnail">
                        <img src="assets/img/back.jpg" />
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>
                                Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-property-1">
                        <b id="list-title-3">Car Property</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-rent-conditions-1">
                        <b id="list-title-4">Car Conditions</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center card-column" style="box-shadow: inset 0px 0px 4px 2px">
                <div id="card-header-1" class="card-header">
                    <div id="car-detail-1">
                        <span id="car-category-1" class="car-category">Van Car</span>
                        <h2 id="car-name-1" class="car-name">Tourneo Custom<br /></h2>
                    </div>
                </div>
                <div class="text-center card-image" id="card-image-1" style="box-shadow: 0px 0px">
                    <div class="thumbnail">
                        <img src="assets/img/back.jpg" />
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>
                                Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-property-1">
                        <b id="list-title-3">Car Property</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-rent-conditions-1">
                        <b id="list-title-4">Car Conditions</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center card-column" style="box-shadow: inset 0px 0px 4px 2px">
                <div id="card-header" class="card-header">
                    <div id="car-detail">
                        <span id="car-category" class="car-category">Van Car</span>
                        <h2 id="car-name" class="car-name">Tourneo Custom<br /></h2>
                    </div>
                </div>
                <div class="text-center card-image" id="card-image" style="box-shadow: 0px 0px">
                    <div class="thumbnail">
                        <img src="assets/img/back.jpg" />
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>
                                Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-property">
                        <b id="list-title-1">Car Property</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center" id="car-rent-conditions">
                        <b id="list-title-2">Car Conditions</b>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 1</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 2</span>
                            </li>
                            <li class="list-group-item">
                                <i class="glyphicon glyphicon-star"></i><span>List Group Item 3</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>