<div class="row">
  <div class="col-md-12">

    <div class="col-md-12">
      <div *ngIf="dataLoaded==false" class="spinner-border text-primary"
        role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="text-align: center;">
        <label style="text-align: center;">Name</label>
        <input type="text" [(ngModel)]="filterText" class="form-control"
          id="filterText" placeholder="Search Car..">
      </div>
      <div class="col-md-3" style="text-align: center;">
        <label>Color</label>
        <ng-select [items]="ColorList"
           bindLabel="name"
           autofocus
           bindValue="id"
           placeholder="Select Color"
           [(ngModel)]="filterColor">
  </ng-select>
  
  <br/>
  
      </div>
      <div class="col-md-3" style="text-align: center;">
        <label>Brand</label>
        <ng-select [items]="BrandList"
           bindLabel="name"
           autofocus
           bindValue="id"
           placeholder="Select Brand"
           [(ngModel)]="filterBrand">
  </ng-select>
      </div>
      <div class="col-md-1">
        <!-- <button (click)="searchCarList(1)" type="button" class="btn btn-secondary">Ara</button> -->
        <br>
        <button  type="button" class="btn btn-secondary">Ara</button>
      </div>

      <div *ngIf="filterText.length>2 || filterColor > 0 || filterBrand > 0" class="alert alert-success">
        <label *ngIf="filterText.length>2"> {{filterText}} seearching.</label>
        <label *ngIf="filterColor > 0"> {{filterColor}} seearching.</label>
        <label *ngIf="filterBrand > 0"> {{filterBrand}} seearching.</label>        
      </div>
    </div>
    <br>
    <div class="col-md-12">

      <table *ngIf="dataLoaded==true" class="table">
        <thead>
          <tr>
            <!-- <th>Id</th> -->
            <th>Car Name</th>
            <th>brandId</th>
            <th>brandName</th>
            <th>colorId</th>
            <th>colorName</th>

            <th>

                <button (click)="openEditCarModel(0)" type="button" class="btn
                  btn-secondary">Create
                </button>
    

            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let carEntity of CarDetailList | carfilter:filterText:filterBrand:filterColor">      
            <td>{{ carEntity.carName }}</td>
            <td>{{ carEntity.brandId }}</td>
            <td>{{ carEntity.brandName }}</td>
            <td>{{ carEntity.colorId }}</td>
            <td>{{ carEntity.colorName }}</td>
            <td><button (click)="openEditCarModel(carEntity.id)" type="button"
                class="btn btn-success">Edit</button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>

  </div>
</div>



<jw-modal id="custom-modal-car-1">

  <form [formGroup]="carEditForm">
    <div class="form-group mb-3">
      <input hidden type="text" formControlName="id">
      <label for="car-name-input" class="fw-bold mb-3">Car Name</label>
      <input
        type="text"
        id="car-name-input"
        formControlName="name"
        class="form-control"
        placeholder="Car Name"
      />
    </div>

    <div class="row">
      <div id="brand-input" class="col-md mb-3">
        <label for="brand-input" class="d-flex align-content-center">
          <span class="fw-bold d-flex align-items-center">Brand</span>

        </label>
        <ng-select [items]="BrandList"
           bindLabel="name"
           autofocus
           bindValue="id"
           placeholder="Select Brand"
           [(ngModel)]="selectedBrand"
           formControlName="brandId"
           >
          </ng-select>


      </div>

      <div id="color-input" class="col-md mb-3">
        <label for="color-input" class="d-flex align-content-center">
          <span class="fw-bold d-flex align-items-center">Color</span>

        </label>
        <ng-select [items]="ColorList"
           bindLabel="name"
           autofocus
           bindValue="id"
           placeholder="Select Color"
           [(ngModel)]="selectedColor"
           formControlName="colorId"
           >
          </ng-select>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="daily-price-input" class="fw-bold mb-3">Daily Price</label>
      <input
        type="number"
        formControlName="dailyPrice"
        id="daily-price-input"
        class="form-control"
        placeholder="Daily Price"
      />
    </div>

    <div class="form-group mb-3">
      <label for="min-findeks-score-input" class="fw-bold mb-3"
        >Minimum Findeks Score</label
      >
      <input
        id="min-findeks-score-input"
        type="number"
        formControlName="minFindeksScore"
        class="form-control"
        placeholder="Min Findeks Score"
      />
    </div>

    <div class="form-group mb-3">
      <label for="model-year-input" class="fw-bold mb-3">Model Year</label>
      <input
        type="number"
        formControlName="modelYear"
        id="model-year-input"
        class="form-control"
        placeholder="Model Year"
      />
    </div>

    <div class="form-group mb-3">
      <label for="description-input" class="fw-bold mb-3">Description</label>
      <textarea
        type="text"
        formControlName="description"
        id="description-input"
        class="form-control"
        placeholder="Description..."
      ></textarea>
    </div>

  </form>
<div class="row" style="text-align: center;">

  <div class="col-md-6">
  <div class="card-footer">
    <button (click)="SaveEditModelCar()" class="btn btn-primary btn-lg w-100 shadow-sm">
      Save
    </button>
  </div>
  </div>
  <div class="col-md-6">
  <div class="card-footer">
    <button (click)="closeModal('custom-modal-car-1');" class="btn btn-primary btn-lg w-100 shadow-sm">
      Close
    </button>
  </div>
  </div>

</div>
  
</jw-modal>

