<div class="row">
    <div class="col-md-12">

        <div class="col-md-12">
            <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div id="searchBlog">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="dropbtn">Brand</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                &nbsp; &nbsp; &nbsp;
                <div class="dropdown">
                    <button class="dropbtn">Color</button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Search Car..">
            </div>
            <div class="col-md-1">
                <button (click)="editCar(1)" type="button" class="btn btn-secondary">Ara</button>
            </div>

            <div *ngIf="filterText.length>2" class="alert alert-success">
                {{filterText}} seearching.
            </div>

        </div>

        <div class="col-md-12">

            <table *ngIf="dataLoaded==true" class="table">
                <thead>
                    <tr>
                        <!-- <th>Id</th> -->
                        <th>Car Name</th>
                        <th>brandId</th>
                        <th>brandName</th>
                        <th>colorId</th>
                        <th>colorName</th>

                        <th>
                            <div class="col-md-1">
                                <button (click)="openEditCarModel(0)" type="button" class="btn btn-secondary">Ekle / Düzenle
                                </button>
                            </div>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let carEntity of CarDetailList | car:filterText">
                        <!-- <td>{{ carEntity.name }}</td>
                        <td>{{ carEntity.name | uppercase}}</td>
                        <td>{{ carEntity.name }}</td>
                        <td>{{ carEntity.name |currency }}</td>
                        <td>{{ carEntity.unitPrice |vatAdded:18 | currency }}</td> -->
                        <td>{{ carEntity.carName }}</td>
                        <td>{{ carEntity.brandId }}</td>
                        <td>{{ carEntity.brandName }}</td>
                        <td>{{ carEntity.colorId }}</td>
                        <td>{{ carEntity.colorName }}</td>
                        <td><button (click)="openEditCarModel(carEntity.id)" type="button" class="btn btn-success">Edit</button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>




<jw-modal id="custom-modal-1">
    <h1>A Custom Modal Window!</h1>
    <p>Home page text: <input type="text" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>


<jw-modal id="custom-modal-car-1">
    <!-- <h1 style="height:100px">A Tall Custom Modal Window!</h1> -->
    <label>Avni Kasikci</label>
    <p>[([(ngModel)]="editCarViewModel")]</p>
    {{editCarViewModel.name}}


    <form [formGroup]="carEditForm">
        <div class="mb-3">
            <label for="productName">Ürün adı</label>
            <div class="form-group">
                <input type="text" id="productName" formControlName="productName" class="form-control" placeholder="Ürün adı" />
            </div>
        </div>

        <div class="mb-3">
            <label for="categoryId">Kategori</label>
            <div class="form-group">
                <input type="number" id="categoryId" formControlName="categoryId" class="form-control" placeholder="Kategori" />
            </div>
        </div>
        <div class="mb-3">
            <label for="unitsInStock">Stok Adedi</label>
            <div class="form-group">
                <input type="number" id="unitsInStock" formControlName="unitsInStock" class="form-control" placeholder="Stok adedi" />
            </div>
        </div>
        <div class="mb-3">
            <label for="unitPrice">Birim Fiyatı</label>
            <div class="form-group">
                <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control" placeholder="Fiyatı" />
            </div>
        </div>

    </form>





    <button (click)="closeModal('custom-modal-car-1');">Close</button>
</jw-modal>