#promo-cat {
    text-align: center;
    padding: 95px;
    /* background: url(hero.jpg) no-repeat; */
    background-size: cover;
    margin-top: 65px;
    background-color:black;
  }
  #welcome{
      /* background:black; */
      text-align:center;
  }

  #dark-sectionid{
      background:#eff7fb;
      text-align:center;
  }
  