<div id="promo-cat" class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background: url(/assets/img/hero.jpg) no-repeat;">
    <!-- <img src="/assets/img/hero.jpg" class="img-fluid" alt=""> -->


    <div class="col-md-5 p-lg-5 mx-auto my-5" style="margin: 0 auto;  max-width: 800px;border-radius: 20px;  padding: 40px;   background-color: rgba(255,255,255,0.75);">
        <h1 class="display-4 fw-normal">Fantastic Offer!</h1>
        <p class="lead fw-normal">
            We have a special treat to our new customers. Order now and get a big discount on your first rent a car!
        </p>
        <a class="btn btn-outline-secondary" href="#">Get 50% Off!</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>

<div class="container site-section" id="welcome">
    <h1>Welcome to Rent a Car's Demo</h1>
    <p>Rent a Car's Demo was founded in Paris in 1993 with the mission of giving great rent a car to the world. Our dedication and avesome rent a car&nbsp;have won us numerous awards. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus
        ipsum. </p>
</div>
<br>
<br>
<br>
<div class="dark-section" id="dark-sectionid">
    <div class="container site-section" id="why">
        <h1>Why Choose Us </h1>
        <div class="row">
            <div class="col-md-4 item"><i class="fa fa-car"></i>
                <h2>Great Taste </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp; </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-heart"></i>
                <h2>Reliable &amp; Fast<br></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp; </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-shopping-basket"></i>
                <h2>Next Day Delivery</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp;<br></p>
            </div>
        </div>
    </div>
</div>
<div class="container site-section" id="gallery">