<div id="promo">
    <div class="jumbotron">
        <h1>Fantastic Offer! </h1>
        <p>We have a special treat to our new customers. Order now and get a big discount on your first rent a car! </p>
        <p><a class="btn btn-info btn-lg" role="button" href="#">Get 50% Off!</a></p>
    </div>
</div>
<div class="container site-section" id="welcome">
    <h1>Welcome to Rent a Car's Demo</h1>
    <p>Rent a Car's Demo was founded in Paris in 1993 with the mission of giving great rent a car to the world. Our dedication and avesome rent a car&nbsp;have won us numerous awards. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus
        ipsum. </p>
</div>
<div class="dark-section">
    <div class="container site-section" id="why">
        <h1>Why Choose Us </h1>
        <div class="row">
            <div class="col-md-4 item"><i class="fa fa-car"></i>
                <h2>Great Taste </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp; </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-heart"></i>
                <h2>Reliable &amp; Fast<br></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp; </p>
            </div>
            <div class="col-md-4 item"><i class="fa fa-shopping-basket"></i>
                <h2>Next Day Delivery</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id purus ipsum. Aliquam ac orci eleifend, aliquet felis nec.&nbsp;<br></p>
            </div>
        </div>
    </div>
</div>
<div class="container site-section" id="gallery">