<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img id="logo" src="assets/img/logo.png" /><strong>Rent a
                    Car's</strong>&nbsp;Demo</a><button data-toggle="collapse" class="navbar-toggle collapsed" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a routerLink="cars" routerLinkActive="active">Cars</a>
                </li>
                <li><a href="#">Pricing </a></li>
                <li><a href="#">Order </a></li>
                <li><a href="#">Contact Us</a></li>
                <li>
                    <a routerLink="admin" class="Admin" href="#">Admin Panel</a>
                </li>
                <li>
                    <a routerLink="login" class="login" href="#">Log In</a>
                </li>
                <li>
                    <a routerLink="register" class="btn btn-default action-button" role="button" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>